@import "tailwindcss";

* { margin: 0; padding: 0; box-sizing: border-box; }
html, body {
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.MAX_W {@apply max-w-[1480px]}
.mainPX {@apply px-[20px]}

.transition1 { @apply transition-all duration-300 ease-in-out;}
.transition2 { @apply transition-all duration-500 ease-in-out}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }

  nav {
    @apply sticky h-[50px] z-50 w-full flex items-center justify-center shadow-[0_2px_4px_#00000030]
    ;

    h1 { @apply text-3xl -mb-2;}
    

  }
}
